<h2>Create New Poll</h2>
<a href="/">Home</a><br><br>

<form action="/new" method="post">
  <label for="dates">Dates</label>
  <input type="text" id="dates" name="dates"><br>
  <label for="date_start">Start Date</label>
  <input type="date" id="date_start" name="date_start"><br>
  <label for="date_end">End Date</label>
  <input type="date" id="date_end" name="date_end"><br>
  <label for="pollster">Pollster</label>
  <input type="text" id="pollster" name="pollster"><br>
  <label for="clinton">Clinton</label>
  <input type="text" id="clinton" name="clinton"><br>
  <label for="trump">Trump</label>
  <input type="text" id="trump" name="trump"><br>
  <label for="johnson">Johnson</label>
  <input type="text" id="johnson" name="johnson"><br>
  <button type="Submit">Create Poll</button>
</form>
