<table>
  <tr>
    <th>Dates</th>
    <th>Pollster</th>
    <th>Clinton</th>
    <th>Trump</th>
    <th>Johnson</th>
  </tr>
  <tr>
    <td>Aug 14-18</td>
    <td>Ipsos</td>
    <td>41</td>
    <td>34</td>
    <td>7</td>
  </tr>
</table>
